@import url('https://fonts.googleapis.com/css?family=Bitter');
body,html {    
    margin: 0 !important;
    padding: 0 !important;
}
body {
    padding: 50px;
    background-color:#f5f0d9;
    font-family: 'Bitter';
}

#colorText{
    color: orange;
    margin-right: 0.5em !important;
    margin-left: 0.5em !important;
}

#plusAndBack{
    background-color: orange;
    border-radius: 100%;
}

#textHeader{
    padding-right: 150px;
}

#footer {
    padding: 60px;
    background-color: 	#696969;
    clear: both;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 200px;
    color: whitesmoke;
    text-decoration-style: none;
    clear: both;
}

#footer li a{
    color:whitesmoke !important;
}

#cardImage {
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    vertical-align: top;
    width: 100%;
    height: 250px;
}

#h3Title {
    color: green;
    margin-bottom: 3%;
    margin-top: 3%;
    font-weight: bold;
}

#icons {
    width: 16px;
    height: 16px;
}

.recipeIcons{
    margin-right: 0.5em !important;
    margin-left:0.1em !important;
}

#iconsButton {
    position: absolute;
    right: 5%;
    margin-bottom: 2%;
    color: whitesmoke;
    background-color: green;
    border-radius: 20%;
}

#badge{
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 12px;
    border-radius: 30%;
    background-color: green;
}

#notfound {
    position: relative;
}

#avatarPics {
    height: 200px;
    width: 200px;
}

li {
    margin-left: 10px;
    margin-right: 15px;
    list-style-type: disc;
    color: orange;
    text-decoration: none;
}

li:first-child {
    list-style: none;
}

li a:hover{
    color: orange !important;
}

li a:active {
    background-color: orange !important;
}

.nav-button{
    margin-left: 10px;
    margin-right: 15px;
    list-style-type: disc;
    color: gray;
    text-decoration: underline !important;
    font-weight: bold !important;
}

.nav a {
    text-decoration: none;
    color: grey;
    font-weight: bold;
}
.nav :active{
    color: inherit;
}

hr{
    background-color: grey;
}

label {
    color:orange
}

.card {
    width: 384px;
    border-radius: 2%;
}

.card-title{
    color: orange;
}

table {
    justify-content: center;
}

th {
    color: orange;
    border: none !important;
}

#categoryTD{
    border-radius: 3px;
    padding: 2px 4px 2px 4px;
    background-color: green;
    color: whitesmoke;

}

table { 
    border-collapse: separate; 
    border-spacing: 0 10px; 
    margin-top: -10px; 
}
td {
    border: solid 1px whitesmoke;
    border-style: solid none;
    padding: 10px;
    background-color: cyan;
}
td:first-child {
    border-left-style: solid;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
}
td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 10px; 
    border-top-right-radius: 10px; 
}

.customTR{
    border: 10px solid whit !important;
    background-color: white;
    padding: 10px;
    color: grey;
}