body {
    padding: 50px;
    background-color: #fefef9;
}

#footer {
    background-color: grey;
    clear: both;
    position: bottom;
    height: 200px;
    color: whitesmoke;
}

#cardImage {
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    vertical-align: top;
}

#h3Title {
    color: green;
    margin-bottom: 3%;
    margin-top: 3%;
}

#icons {
    width: 16px;
    height: 16px;
}

#iconsButton {
   position: absolute;
   margin-left: 50%;
   margin-bottom: 2%; 
   color: whitesmoke;
   background-color: green;
   border-radius: 20%;
}

#notfound{
    position: relative;
}

li {
    margin-left: 10px;
    margin-right: 15px;
    list-style-type: disc;
    color: orange;
}

a {
    text-decoration-color: black;
}

.card {
    width: 384px;
    border-radius: 2%;
}