body {
    padding: 50px;
    background-color: #fefef9;
}

#colorText{
    color: orange;
    margin-right: 0.5em !important;
    margin-left: 0.5em !important;
}
#plusAndBack{
    background-color: orange;
    border-radius: 75%;
}

#textHeader{
    padding-right: 150px;
}

#footer {
    padding: 60px;
    background-color: khaki;
    clear: both;
    position: relative;
    height: 200px;
    color: whitesmoke;
    text-decoration-style: none;
}

#cardImage {
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    vertical-align: top;
}

#h3Title {
    color: green;
    margin-bottom: 3%;
    margin-top: 3%;
}

#icons {
    width: 16px;
    height: 16px;
}

#iconsButton {
    position: absolute;
    margin-left: 50%;
    margin-bottom: 2%;
    color: whitesmoke;
    background-color: green;
    border-radius: 20%;
}

#notfound {
    position: relative;
}

#avatarPics {
    height: 200px;
    width: 200px;
}

li {
    margin-left: 10px;
    margin-right: 15px;
    list-style-type: disc;
    color: orange;
    text-decoration: none;
}
li:first-child{
    list-style: none;
}

.nav a {
    text-decoration: none;
    color: grey;
}
.nav :active{
    color: inherit;
}

hr{
    background-color: grey;
}

label {
    color:orange
}

.card {
    width: 384px;
    border-radius: 2%;
}

.card-title{
    color: orange;
}
