/* @import url('https://fonts.googleapis.com/css?family=Bitter'); */
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
    font-display: optional;
}

body {
    position: relative;
    /* font-family: 'Bitter'; */
    font-family: 'alkatra';
    font-display: optional;
    background-color: #f5f0d9;
    min-height: 100vh;
    --green: #008000;
    --grey: #696969;
    /* --darkgrey: #2d2c2c; */
    --darkgrey: #252525;
    /* --orange: #f3b254; */
    /* --orange: #ff7101; */
    --orange: #f96400;
    --white: #f5f5f5;
    --active-box-shadow: 0 0 0 0.25rem #0dcaf01a;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background: var(--orange);
    border-radius: 2px;
}

body::-webkit-scrollbar-thumb:hover {
    background: var(--green);
    width: 15px;
}

::selection {
    color: var(--white);
    background-color: var(--orange);
}

::-moz-selection {
    color: var(--white);
    background-color: var(--orange);
}

/* input {
    background-color: var(--white) !important;
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* .form-check-input[type=checkbox] {
    background-color: var(--green) !important;
} */

.form-check-input:checked {
    background-color: var(--green) !important;
    ;
}

select option:hover {
    background: var(--orange) !important;
}

/* .invalid-feedback {
    font-size: 1.14rem;
} */

.btn-green {
    background-color: var(--green);
    border: 1px solid var(--green);
    color: var(--white);
    transition: .2s ease-in-out 0s;
    box-shadow: 2px 2px 7px #000;
}

.btn-green:hover {
    background-color: var(--orange);
    /* border: 1px solid #146c43; */
    border: 1px solid var(--orange);
    color: var(--white);
    transform: scale(1.10);
}

.btn-grey {
    background-color: transparent;
    border: 1px solid var(--grey);
    color: var(--grey);
    transition: .2s ease-in-out 0s;
    box-shadow: 2px 2px 7px #0000008f;
}

.btn-grey:hover {
    background-color: #6c757d;
    border-color: 1px solid #6c757d;
    color: var(--white);
    transform: scale(1.10);
}

.btn:focus {
    box-shadow: var(--active-box-shadow);
}

.form-control:focus {
    box-shadow: var(--active-box-shadow);
}

.form-select:focus {
    box-shadow: var(--active-box-shadow);
}

.hover-a:hover {
    color: var(--orange);
}

.orangeText {
    color: var(--orange);
}

.greenText {
    color: var(--green);
}

.greyText {
    color: var(--grey);
}

.top-79 {
    top: 79px;
}

.mr-6 {
    margin-right: 6rem !important;
}

.mr-7 {
    margin-right: 9rem !important;
}

.py-6 {
    padding: 6rem 0 !important;
}

.py-7 {
    padding: 9rem 0 !important;
}

.pt-6 {
    padding-top: 6rem !important;
}

.pt-7 {
    padding-top: 9rem !important;
}

.pb-6 {
    padding-bottom: 6rem !important;
}

.pb-7 {
    padding-bottom: 9rem !important;
}

@media (min-width: 992px) {
    .me-lg-7 {
        margin-right: 9rem !important;
    }
}

@media (min-width: 768px) {
    .me-md-7 {
        margin-right: 9rem !important;
    }
}

.logo {
    height: 12.5rem;
    width: 12.5rem;
    float: left;
    margin-right: 20px;
}

.notFound {
    height: 66.7vh;
}

#plusAndBack {
    background-color: var(--green);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: grid;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.plusAndBackIcon {
    color: var(--white);
    height: 15px;
    width: 15px;
}



/* .xxx {
    position: relative;
    z-index: 1;
}

.yyy {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 79px;
} */

.footer {
    background-color: var(--grey);
    width: 100%;
    color: var(--white);
    position: absolute;
    left: 0;
    /* bottom: 100; */
}

.footer li a {
    color: var(--white) !important;
    text-decoration: none;
}

.footer img {
    aspect-ratio: 13 / 5;
    height: 50px;
    width: 130px;
}

.title {
    color: var(--green);
    font-weight: bold;
    width: 100%;
}

.title hr {
    color: var(--grey);
}

.titleLine {
    width: 98%;
}

.haveAnAcc {
    color: var(--darkgrey);
    text-decoration: none;

}

.haveAnAcc:hover {
    color: var(--green);
    text-decoration: underline;
}

/* @keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(100%);
    }
}

.popUpButton {
    color: var(--white);
    background-color: var(--green);
    border: var(--green);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: all 0.3s;
    box-shadow: 2px 2px 4px #0000008f;
}

.popUpButton:hover {
    transform: scale(1.25);
    z-index: 2;
}

.popUpButtonIcons {
    height: 13px;
    width: auto;
    color: var(--white);
    position: absolute;
    top: 8px;
    left: 9px;
}

.popUpbadge {
    color: var(--white);
    background-color: var(--green);
    border-radius: 25px;
    padding: 2px 7.5px;
} */

.avatarImg {
    height: 150px;
    width: 150px;
}

.recipeImage {
    border-radius: 11px;
    aspect-ratio: 1 / 1;

}

.recipeImageDiv {
    max-height: 250px;
    max-width: 250px;
}

nav {
    position: sticky !important;
    /* display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; */
    top: 0;
    z-index: 3;
    opacity: 1;
    overflow: hidden;
    background-color: #f5f0d9;
    box-shadow: 0px 8px 5px 0px rgba(105, 105, 105, 0.3);
    transition: padding 0.3s ease-in-out;
}

nav img {
    aspect-ratio: 13 / 5;
    width: 130px;
    height: 50px;
}

li {
    margin-left: 10px;
    margin-right: 15px;
    list-style-type: disc;
    color: var(--orange);
    text-decoration: none;
}

li:first-child {
    list-style: none;
}

li:nth-child(6),
li:nth-child(7) {
    list-style-type: disc;
    color: var(--grey);
}

li a {
    font-weight: bold;
    transition: all .5s;
    text-decoration: none;
    color: var(--grey) !important;
}

li a:hover,
li a.active {
    color: var(--orange) !important;
}

li a.active:hover {
    color: var(--green) !important;
}

hr {
    background-color: var(--grey);
}

label {
    color: var(--orange)
}

/* .card {
    border-radius: 2%;
    overflow: hidden;
    box-sizing: border-box;
    height: 34.375rem;
    width: 25rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    -webkit-transition: box-shadow 0.5s;
    transition: box-shadow 0.5s;
}

.card:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

.card-title {
    color: var(--orange);
}

.card-body p {
    display: block;
    overflow: hidden;
    scroll-behavior: smooth;
    transition: all 0.5s;
}

.card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-image {
    height: 250px;
    border-radius: 2% 2% 0 0;
    transition: height 0.5s;
    object-fit: cover;
}

.card-image:hover {
    height: 85% !important;
}

.card-bottom--icons {
    height: 23px;
    width: auto;
    color: var(--green);
}

.badgeCard {
    background-color: var(--green);
    color: var(--white);
    position: absolute;
    top: 13px;
    left: 16px;
    font-size: 12px;
    border-radius: 25px;
} */

.deleteIcon {
    height: 20px;
    width: auto;
    color: #dc3545;
}

table {
    border-collapse: separate;
    border-spacing: 0 10px;
    margin-top: -10px;
}

th {
    color: var(--orange);
    border: none !important;
}

td {
    border: solid 1px var(--white);
    border-style: solid none;
    padding: 10px;
}

td:first-child {
    border-left-style: solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.tableBadge {
    color: var(--white);
    background-color: var(--green);
    border-radius: 25px;
    padding: 2px 7.5px;
}

.tableImageLink {
    display: block;
    overflow: hidden;
    border-radius: 10px;
    max-width: 6.25rem !important;
    max-height: 5rem !important;
    aspect-ratio: 1 / 1;
}

.tableImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.customTR {
    border: 10px solid white !important;
    background-color: white;
    color: var(--grey);
    border-radius: 9%;
}