.modal {
    padding-right: 0 !important;
    backdrop-filter: blur(5px);
}

.modal .modal-body {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-dialog {
    max-width: 90%;
}

.popUpButton {
    color: var(--white);
    background-color: var(--green);
    border: var(--green);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: all 0.3s;
    box-shadow: 2px 2px 4px #0000008f;
}

.popUpButton:hover {
    transform: scale(1.25);
    z-index: 2;
}

.popUpButtonIcons {
    height: 13px;
    width: auto;
    color: var(--white);
    position: absolute;
    top: 8px;
    left: 9px;
}

.popUpbadge {
    color: var(--white);
    background-color: var(--green);
    border-radius: 25px;
    padding: 2px 7.5px;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(100%);
    }
}

/* Ensure the image is responsive */
.responsive-image {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 80%;
        /* Adjust for sm and up */
    }
}

@media (min-width: 768px) {
    .modal-dialog {
        max-width: 70%;
        /* Adjust for md and up */
    }
}

@media (min-width: 992px) {
    .modal-dialog {
        max-width: 60%;
        /* Adjust for lg and up */
    }
}

